<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Beat Bazaar</title>
<link href="adminfunc.css" rel="stylesheet"/>
</head>
<body>
	<header>
        <div class="logo">
            <img src="beatbazaarlogo.png" alt="Beat Bazaar">
        </div>
        <nav>
        	<a href="/map-adminhome">Home</a>
        	<a href="/viewsongs" >View Songs</a>
        	<a href="/createplaylist">Create PlayList</a>
        	<a href="/viewplaylist">View PlayList</a>
            <div class="dropdown">
                <a class="dropbtn">Setting</a>
                <div class="dropdown-content">
                    <a href="/logout">Logout</a>
                    <a href="/deleteaccount">Delete A/C</a>
                </div>
            </div>
        </nav>
    </header>
    <main class="main-content">
	<form action="/addsongs" method="post">
		<label>Song Name: </label>
		<input type="text" name="name" required/>
		<label>Song Artist: </label>
		<input type="text" name="artist" required />
		<label>Song Genre: </label>
		<input type="text" name="genre" required />
		<label>Song Link: </label>
		<input type="text" name="link" required/>
		<input type="submit" value="ADD SONG" />
	</form>
	</main>
</body>
</html>