<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Beat Bazaar</title>
<link href="createpl.css" rel="stylesheet"/>
</head>
<body>
	<header>
        <div class="logo">
            <img src="beatbazaarlogo.png" alt="Beat Bazaar">
        </div>
        <nav>
			<a href="/map-custhome">Home</a>
        	<a href="/customerviewsongs">View Songs</a>
			<a href="/viewplaylist">View PlayList</a>
            <div class="dropdown">
                <a class="dropbtn">More</a>
                <div class="dropdown-content">
                    <a href="/logout">Logout</a>
                    <a href="/deleteaccount">Delete A/C</a>
                </div>
            </div>
        </nav>
    </header>
	<form action="/addcustplaylist" method="post">
		<label>PlayList Name: </label>
		<input type="text" name="name" required />
		<div th:each = "song : ${songslist}">
			
			<input type="checkbox" th:name="song" th:value="${song.id}">
			<label th:text = "${song.name}"></label>
			
		</div>
		<input type="submit" value="ADD PLAYLIST">
	</form>
</body>
</html>