<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Beat Bazaar</title>
<link href="songdisplay.css" rel="stylesheet" />
</head>
<body>
<div class="table-content">
	<table border="1">
	<thead class="table-heading">
		<tr>
			<th>Name</th>
			<th>Artist</th>
			<th>Genre</th>
			<th>Link</th>
		</tr>
	</thead>
	<tbody class="table-body">
		<tr th:each = "custsongslist : ${customersongslist}">
			<td th:text = ${custsongslist.name}></td>
			<td th:text = ${custsongslist.artist}></td>
			<td th:text = "${custsongslist.genre}"></td>
			<td>
				<audio controls>
					<source th:src= ${custsongslist.link} type="audio/mpeg">
				</audio>
			</td>
		</tr>
	</tbody>			
	</table>
	</div>
</body>
</html>