<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Beat Bazaar</title>
<link href="customerhome.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
            <img src="beatbazaarlogo.png" alt="Beat Bazaar">
        </div>
        <div class="app-name">Beat Bazaar</div>
        <nav>
        	<a href="/map-custhome">Home</a>
            <a href="/exploresongs">Explore Songs</a>
            <div class="dropdown">
                <a class="dropbtn">More</a>
                <div class="dropdown-content">
                    <a href="/logout">Logout</a>
                    <a href="/deleteaccount">Delete A/C</a>
                </div>
            </div>
        </nav>
    </header>
    <main>
    	<h1>Hello, 
    			<span th:each="user : ${user}"></span>
    				<span th:text="${user.username}"></span>
    	!</h1>
        <h1>Welcome to Beat Bazaar Home</h1>
        <p>Thank you for choosing Beat Bazaar, your ultimate destination for discovering and enjoying your favorite tunes!</p>
    </main>
    <section class="navigation-links">
    <h2>Explore More</h2>
    <div class="link-container">
        <div class="link-item">
            <a href="/customerviewsongs">
                <span class="link-icon">🎵</span>
                <span class="link-title">View Songs</span>
                <p>Discover a wide range of songs across various genres.</p>
            </a>
        </div>
        <div class="link-item">
            <a href="viewcustplaylist">
                <span class="link-icon">📂</span>
                <span class="link-title">View Playlist</span>
                <p>Check out your saved playlists and favorite tracks.</p>
            </a>
        </div>
        <div class="link-item">
            <a href="createcustplaylist">
                <span class="link-icon">➕</span>
                <span class="link-title">Create Playlist</span>
                <p>Curate your own playlist and enjoy your favorite tunes.</p>
            </a>
        </div>
    </div>
</section>

    
</body>
</html>
