<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Beat Bazaar</title>
<link href="index.css" rel="stylesheet">
</head>
<body>
    <div class="overlay"></div>
    <h1>Welcome to <span class="app-name">Beat Bazaar</span></h1>
    <p class="slogan">Discover and enjoy your favorite tunes</p>
    
    <div class="homepage">
        <a href="/map-register" class="register">Click here to register</a>
        <a href="/map-login" class="login">Click here to login</a>
    </div>
</body>
</html>