<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Beat Bazaar</title>
<link href="adminfunc.css" rel="stylesheet" />
</head>
<body>
	<header>
		<div class="logo">
			<img src="beatbazaarlogo.png" alt="Beat Bazaar">
		</div>
		<nav>
			<a href="/map-adminhome">Home</a> <a href="/map-songs">Add Songs</a>
			<a href="/viewsongs">View Songs</a> <a href="/createplaylist">Create
				PlayList</a> <a href="/viewplaylist">View PlayList</a>
			<div class="dropdown">
				<a class="dropbtn">Setting</a>
				<div class="dropdown-content">
					<a href="/logout">Logout</a> <a href="/deleteaccount">Delete
						A/C</a>
				</div>
			</div>
		</nav>
	</header>
	<h1>
		Yeahh!!! Song is added successfully. <span class="symbol">&#10004;</span>
	</h1>
</body>
</html>