body {
    font-family: Arial, sans-serif;
    background-image: url('backgr2.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, 
        violet, indigo, blue, green, yellow, orange, red); /* Rainbow background gradient */
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent rainbow background color */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

label {
    font-size: 18px;
    color: #fff; /* Text color */
}

input[type="text"] {
    width: calc(100% - 20px); /* Adjust width */
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #fff; /* Border color */
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent dark grey background color */
    color: #fff; /* Text color */
}

input[type="checkbox"] {
    margin-right: 10px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px 0;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2196f3; /* Button background color */
    color: #fff; /* Button text color */
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0d47a1; /* Darker shade of blue on hover */
}
table {
    width: 90%; /* Set the width of the table to 90% of the container */
    margin: 20px auto; /* Center the table horizontally with some margin */
    border-collapse: collapse;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent black background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
    color: rgba(255, 255, 255, 0.9); /* Text color */
    text-align: center; /* Center align text */
}
th {
	font-size: 25px;
}
 td 
{
	font-size: 20px;
}